<footer class="footer-bs">
  <div class="row">
      <div class="col-md-5 footer-brand">
          <h2><i class="fas fa-paw mr-1"></i> E-Commerce App</h2>
          <ul>
              <li><i class="fas fa-envelope"></i> help@e-commerce-app.</li>
              <li><i class="fas fa-phone"></i> 76090909</li>
          </ul>
          <p>© 2022 E-Commerce App</p>
      </div>
      <div class="col-md-2 footer-social">
          <h4>Follow Us</h4>
          <ul>
              <li><a href="#"><i class="fab fa-facebook-square"></i> Facebook</a></li>
              <li><a href="#"><i class="fab fa-twitter-square"></i> Twitter</a></li>
              <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
              <li><a href="#"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
          </ul>
      </div>
  </div>
</footer>
