<footer class="container footer">
    <nav class="navbar d-flex">
            <ul>
                <h3><i class="fa fa-solid fa-shopping-bag" aria-hidden="true"></i> E-Commerce App</h3>
                <li><i class="fas fa-truck"></i> Free Shipping for all orders during the demonstration period!</li>
                <li><i class="fas fa-envelope"></i> help@ecommerceapp.com</li>
                <li><i class="fas fa-phone"></i> +567890</li>
            <p>© 2022 E-Commerce App</p>
            <h4>Follow Us</h4>
                <li><a href="#"><i class="fab fa-facebook-square"></i> Facebook</a></li>
                <li><a href="#"><i class="fab fa-twitter-square"></i> Twitter</a></li>
                <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
            </ul>
    </nav>
</footer>
