{% extends 'base.html' %}

{% block title %} | Products{% endblock %}
{% block content %}
<h1>Products</h1>
{#% if product_count > 0 %#}
    {% for product in product_list%}
<a href="{{product.get_absolute_url}}"><h5 class="product-title">{{ product.product_name }}</h5></a>
<h6 class="product-price">€{{ product.price }}</h6>
<img src="{{ product.images.url }}" alt="Product image">
{% endfor %}
    {#% else %#}
<p>There are currently no products to display. Please check back later.</p>
{#% endif%#}
</div>
{% endblock %}/
